# Angel_Robinson Sprint 2 Assignment

In [2]:
import numpy as np
import pandas as pd

In [3]:
price = [80121, 48483, 37077, 30660, 68536, 52666, 78703, 51036, 55643, 56990, 39967, 93822, 51406, 93947, 78373, 62765, 47536, 40528, 58780, 83197]

# Task 1
Create a Pandas Series object to store the prices of the cars and assign them the row indices from 101 to 120.

In [5]:
# USE np.arange TO CREATE AN ARRAY OF ROW INDICES
car_id = np.arange(101,121)

# CONVERT THE ARRAY INTO A SERIES
car_id = pd.Series(car_id)

# DISPLAY THE SERIES TO STORE CAR PRICES
car_id

0     101
1     102
2     103
3     104
4     105
5     106
6     107
7     108
8     109
9     110
10    111
11    112
12    113
13    114
14    115
15    116
16    117
17    118
18    119
19    120
dtype: int32

In [6]:
# CREATE A VARIABLE TO STORE THE CAR PRICES AND USE car_id AS THE INDEX  AND price FOR THE VALUES
car_prices = pd.Series(price,index=car_id)

# DISPLAY THE CAR INDICES AND THEIR PRICES
car_prices

101    80121
102    48483
103    37077
104    30660
105    68536
106    52666
107    78703
108    51036
109    55643
110    56990
111    39967
112    93822
113    51406
114    93947
115    78373
116    62765
117    47536
118    40528
119    58780
120    83197
dtype: int64

# Task 2
Identify the row indices and prices of the cars with the highest and the lowest price.

In [24]:
# USE THE .min() function TO DEFINE THE LOWEST PRICE
lowest = car_prices.min()

# LOCATE AND DISPLAY THE INDEX OF THE CAR MATCHING THE LOWEST PRICE
lowest_index = car_prices[car_prices==lowest]
print("This is the lowest priced car:\n ",lowest_index)

# USE THE .max() function TO DEFINE THE HIGHEST PRICE
highest = car_prices.max()

# LOCATE AND DISPLAY THE INDEX OF THE CAR MATCHING THE HIGHEST PRICE
highest_index = car_prices[car_prices==highest]
print("This is the highest priced car:\n ",highest_index)

This is the lowest priced car:
  104    30660
dtype: int64
This is the highest priced car:
  114    93947
dtype: int64

# Task 3
Display the prices of the five cars with the highest values of car price along with their row indices.

In [26]:
# USE .sort_values() TO SORT THE CAR PRICES IN | DESCENDING ORDER(ascending - False) |
sort_prices = car_prices.sort_values(ascending=False)
# DISPLAY THE SORTED PRICES
print(sort_prices)

114    93947
112    93822
120    83197
101    80121
107    78703
115    78373
105    68536
116    62765
119    58780
110    56990
109    55643
106    52666
113    51406
108    51036
102    48483
117    47536
118    40528
111    39967
103    37077
104    30660
dtype: int64

In [27]:
# DISPLAY THE TOP 5 ROW INDICES FOR BOTH COLUMNS (INDICES 0-5)
print(sort_prices[0:5])

114    93947
112    93822
120    83197
101    80121
107    78703
dtype: int64

# Task 4
Display the prices of all cars priced between $30-40k along with the row indices. Calculate and display the count of these cars.

In [29]:
# CREATE A VARIABLE THAT APPLIES CONDITIONS TO THE CAR PRICES 
price_filter = car_prices[(car_prices>30000)&(car_prices<40000)]

# DISPLAY ALL CARS THAT SATISFY THE CONDITION
print(price_filter)

103    37077
104    30660
111    39967
dtype: int64

In [31]:
# USE .size() TO DISPLAY THE COUNT OF ALL CARS THAT MEET THE CONDITION ABOVE
print("There are ",price_filter.size,"cars priced between $30k and $40k")

There are  3 cars priced between $30k and $40k

# Task 5
Display the prices and row indices of the cars that are priced above the average price of all cars. Display the count of such cars.

In [34]:
# USE .mean() TO FIND THE AVERAGE PRICE
avg_price = car_prices.mean()

# CREATE A VARIABLE THAT APPLIES CONDITIONS TO THE CAR PRICES
above_avg_price = car_prices[car_prices > avg_price]

# DISPLAY ALL CARS THAT SATISFY THE CONDITION   
above_avg_price

101    80121
105    68536
107    78703
112    93822
114    93947
115    78373
116    62765
120    83197
dtype: int64

In [37]:
# USE .size() TO DISPLAY THE COUNT OF ALL CARS THAT MEET THE CONDITION ABOVE
print("There are ", above_avg_price.size,"cars priced above the average.")

There are  8 cars priced above the average.

# Task 6
The car dealer needs to add three new cars with the row indices 201, 202, and 203 priced at $34,000, $45,000, and $54,000, respectively. Update the existing data and display the prices along with the row indices of all cars.

In [38]:
# CREATE TWO LISTS TO HOLD THE NEW CAR ROW INDICES AND PRICES
new_carid = [201,202,203]
new_car_prices = [34000,45000,54000]

# CREATE A SERIES COMBINING THE TWO LISTS WITH new_carid as the row indices and prices as values
ser = pd.Series(new_car_prices,index=new_carid)

# DISPLAY THE ROW INDICES AND PRICES OF THE NEWLY ADDED CARS
print(ser)

201    34000
202    45000
203    54000
dtype: int64

In [40]:
# CREATE A VARIABLE AND USE pd.concat() TO ADD THE NEW CARS SERIES TO THE ORIGINAL SERIES
OF_prices = pd.concat([car_prices,ser])

# DISPLAY THE NEWLY UPDATED SERIES INCLUDING ALL CARS
OF_prices

101    80121
102    48483
103    37077
104    30660
105    68536
106    52666
107    78703
108    51036
109    55643
110    56990
111    39967
112    93822
113    51406
114    93947
115    78373
116    62765
117    47536
118    40528
119    58780
120    83197
201    34000
202    45000
203    54000
dtype: int64

# Task 7
The car dealer is offering a discount of 20% on cars priced above $60,000. Display the row indices along with the original and discounted prices of all such cars.

In [42]:
# CREATE A VARIABLE THAT APPLIES CONDITIONS TO THE CAR PRICES (using new variable that represents the updated car series)
above_60 = OF_prices[(OF_prices>60000)]

# DISPLAY ALL CARS THAT SATISFY THE CONDITION   
above_60

101    80121
105    68536
107    78703
112    93822
114    93947
115    78373
116    62765
120    83197
dtype: int64

In [65]:
# CREATE A VARIABLE THAT APPLIES A 20% DISCOUNT (80% OF CAR PRICE) TO THE CARS PRICED ABOVE $60,000
discounted = above_60*.80

# DISPLAY THE CARS BEFORE THE DISCOUNT HAS BEEN APPLIED
print("The price before discount: \n",above_60)

# DISPLAY THE CARS AFTER THE DISCOUNT HAS BEEN APPLIED
print("The price after discount: \n",discounted)


# DISPLAY THE ROW INDICES OF ALL CARS WHO SATISFY THIS CONDITION FOR NEXT TASK
print(discounted.index)

The price before discount:
 101    80121
105    68536
107    78703
112    93822
114    93947
115    78373
116    62765
120    83197
dtype: int64
The price after discount:
 101    64096.8
105    54828.8
107    62962.4
112    75057.6
114    75157.6
115    62698.4
116    50212.0
120    66557.6
dtype: float64
Int64Index([101, 105, 107, 112, 114, 115, 116, 120], dtype='int64')

# Task 8
The cars priced above $60,000 are now sold due to the 20% discount offered by the dealer. Update the data by deleting the details of the sold cars and print the updated data. Display the count of cars before and after updating the data.

In [63]:
# CREATE A COPY OF THE OLD SERIES TO REMOVE DATA
dup_OF_prices = OF_prices.copy()
# DISPLAY THE SERIES COPY
print("Old Prices Series: \n",dup_OF_prices)

# CREATE A VARIABLE AND USE .drop() TO DELETE THE DISCOUNTED CARS FROM THE SERIES THAT WERE SOLD
dup_OF_prices=dup_OF_prices.drop(labels=discounted.index)

print('=======')
# DISPLAY THE UPDATED SERIES
print("Updated Prices Series: \n",dup_OF_prices)

Old Prices Series:
 101    80121
102    48483
103    37077
104    30660
105    68536
106    52666
107    78703
108    51036
109    55643
110    56990
111    39967
112    93822
113    51406
114    93947
115    78373
116    62765
117    47536
118    40528
119    58780
120    83197
201    34000
202    45000
203    54000
dtype: int64
=======
Updated Prices Series:
 102    48483
103    37077
104    30660
106    52666
108    51036
109    55643
110    56990
111    39967
113    51406
117    47536
118    40528
119    58780
201    34000
202    45000
203    54000
dtype: int64