In [1]:
contestants= ["Mark Antony","John Chan","Bret Lee","Jim Nick","Janice Ken","Florida Thomson","Lily Jason","Matt Antony","Mark Thomas",
      "Kenny Peterson","Joe Cook","Alexander Thomas","Katy Perry","Alexanderia Peterson","Mark Antony"]

In [10]:
#task 1: Append values to list one at a time
contestants= ["Mark Antony","John Chan","Bret Lee","Jim Nick","Janice Ken","Florida Thomson","Lily Jason","Matt Antony","Mark Thomas",
      "Kenny Peterson","Joe Cook","Alexander Thomas","Katy Perry","Alexanderia Peterson","Mark Antony"]
for x in range(5):
    new_names = input("Enter the first and last name: ").title()
    contestants.append(new_names) 
print(contestants)

Enter the first and last name: john chan
Enter the first and last name: john chan
Enter the first and last name: john chan
Enter the first and last name: usher raymond
Enter the first and last name: katy perry
['Mark Antony', 'John Chan', 'Bret Lee', 'Jim Nick', 'Janice Ken', 'Florida Thomson', 'Lily Jason', 'Matt Antony', 'Mark Thomas', 'Kenny Peterson', 'Joe Cook', 'Alexander Thomas', 'Katy Perry', 'Alexanderia Peterson', 'Mark Antony', 'John Chan', 'John Chan', 'John Chan', 'Usher Raymond', 'Katy Perry']

In [11]:
#task 2 print list in reverse order
contestants.reverse()
print(contestants)
print(len(contestants))

['Katy Perry', 'Usher Raymond', 'John Chan', 'John Chan', 'John Chan', 'Mark Antony', 'Alexanderia Peterson', 'Katy Perry', 'Alexander Thomas', 'Joe Cook', 'Kenny Peterson', 'Mark Thomas', 'Matt Antony', 'Lily Jason', 'Florida Thomson', 'Janice Ken', 'Jim Nick', 'Bret Lee', 'John Chan', 'Mark Antony']
20

In [12]:
#task 4 display duplicates
print(contestants)
print()
duplicates = []
for value in contestants:
    c = contestants.count(value)
    if c > 1 and value not in duplicates:
        duplicates.append(value)
        print("The name",value,"is repeated",c,"times in this list")

['Katy Perry', 'Usher Raymond', 'John Chan', 'John Chan', 'John Chan', 'Mark Antony', 'Alexanderia Peterson', 'Katy Perry', 'Alexander Thomas', 'Joe Cook', 'Kenny Peterson', 'Mark Thomas', 'Matt Antony', 'Lily Jason', 'Florida Thomson', 'Janice Ken', 'Jim Nick', 'Bret Lee', 'John Chan', 'Mark Antony']

The name Katy Perry is repeated 2 times in this list
The name John Chan is repeated 4 times in this list
The name Mark Antony is repeated 2 times in this list

In [5]:
#task 4 remove duplicates
print("Original List is: ", contestants)
print(len(contestants))
print("\n")

final_list = list(set(contestants))
print("The New List is: ",final_list)
print(len(final_list))

Original List is:  ['Matt Antony', 'Katy Perry', 'Jim Nick', 'Jim Kick', 'Joe Jackson', 'Mark Antony', 'Alexanderia Peterson', 'Katy Perry', 'Alexander Thomas', 'Joe Cook', 'Kenny Peterson', 'Mark Thomas', 'Matt Antony', 'Lily Jason', 'Florida Thomson', 'Janice Ken', 'Jim Nick', 'Bret Lee', 'John Chan', 'Mark Antony']
20


The New List is:  ['Kenny Peterson', 'John Chan', 'Mark Antony', 'Mark Thomas', 'Florida Thomson', 'Joe Jackson', 'Janice Ken', 'Jim Kick', 'Matt Antony', 'Alexander Thomas', 'Joe Cook', 'Jim Nick', 'Katy Perry', 'Alexanderia Peterson', 'Bret Lee', 'Lily Jason']
16

In [6]:
#task 5 display FINAL_LIST in alphabetical order
final_list.sort()
print(final_list)

['Alexander Thomas', 'Alexanderia Peterson', 'Bret Lee', 'Florida Thomson', 'Janice Ken', 'Jim Kick', 'Jim Nick', 'Joe Cook', 'Joe Jackson', 'John Chan', 'Katy Perry', 'Kenny Peterson', 'Lily Jason', 'Mark Antony', 'Mark Thomas', 'Matt Antony']

In [22]:
#The students at the second, twelfth, and last position 
#in final_list get selected in the Spell Bee competition. 
#Help Julia save the names of these students in a different list 
#and display them separately

chosen_names = []

for i in final_list:
    if i not in chosen_names:
        chosen_names.append(i)
print("Congratulations,\n",[final_list[1],final_list[11],final_list[-1]],"\n You have been selected!")

Congratulations,
 ['Alexanderia Peterson', 'Kenny Peterson', 'Matt Antony']
 You have been selected!

In [49]:
#task7: Count number of intergers between 555 and 678 divisible by 7
#(555 and 678 not included)
divisible_by_seven = []
count = 0
for x in range(556,678):
    if x % 7 == 0:
        divisible_by_seven.append(x)
print(divisible_by_seven)
print(f"There are {len(divisible_by_seven)} numbers between 555 and 678 that are divisible by 7")

[560, 567, 574, 581, 588, 595, 602, 609, 616, 623, 630, 637, 644, 651, 658, 665, 672]
There are 17 numbers between 555 and 678 that are divisible by 7

In [216]:
#task8: print first 30 neutral numbers by skips number that are muitples of n
#accept n from user
n1 = []
count = 0
n = int(input("Enter a positive number: "))
for x in range(1,31):
    if x >= 0:
        n1.append(x) 
    if x % n == 0:
        n1.remove(x)
        print("skip",x)
print(n1)
#if n < 0 and n not in n1:

Enter a positive number: 10
skip 10
skip 20
skip 30
[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13, 14, 15, 16, 17, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [173]:
#task9: 
firstlist =[1,21,3,4,5,6,7,18,4]
secondlist=[19,1,17,6,15,14,13,2,11]
thirdlist =[a + b for a,b in zip(firstlist,secondlist)]
print(thirdlist)

[20, 22, 20, 10, 20, 20, 20, 20, 15]