In [2]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# Task 1
Load the data into a DataFrame and check for missing values.

In [3]:
# Use pd.read_csv to read the csv file

car_data = pd.read_csv('DS1_C4_S4_Used_Car_Prices_Data_Challenge.csv')
car_data

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
0,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,16639.0,white,black,"kia motors america, inc",20500,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
1,2015,Kia,Sorento,LX,SUV,automatic,ca,5.0,9393.0,white,beige,"kia motors america, inc",20800,Tue Dec 16 2014 12:30:00 GMT-0800 (PST)
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
3,2015,Volvo,S60,T5,Sedan,automatic,ca,4.1,14282.0,white,black,volvo na rep/world omni,27500,Thu Jan 29 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558832,2015,Kia,K900,Luxury,Sedan,NaN,in,4.5,18255.0,silver,black,avis corporation,35300,Thu Jul 09 2015 07:00:00 GMT-0700 (PDT)
558833,2012,Ram,2500,Power Wagon,Crew Cab,automatic,wa,5.0,54393.0,white,black,i -5 uhlmann rv,30200,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558834,2012,BMW,X5,xDrive35d,SUV,automatic,ca,4.8,50561.0,black,black,financial services remarketing (lease),29800,Wed Jul 08 2015 09:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

### Drop the rows with missing values and proceed with the cleaned-up data for the subsequent tasks.

In [4]:
# identifying missing values using .isnull method and .sum() function

car_data.isnull().sum()

year                0
make            10301
model           10399
trim            10651
body            13195
transmission    65353
state               1
condition       11794
odometer           94
color             749
interior          749
seller              0
mp                  0
Arrival_Date       25
dtype: int64

In [5]:
# use .dropna method to drop null values
car_data.dropna(inplace=True)

print(car_data.shape)

# verify that null values have been dropped
car_data.isnull().sum()

(472336, 14)

year            0
make            0
model           0
trim            0
body            0
transmission    0
state           0
condition       0
odometer        0
color           0
interior        0
seller          0
mp              0
Arrival_Date    0
dtype: int64

# Task 2
Thomas, a potential customer from California, is interested in buying a low-priced car manufactured in 2014. 
- John needs to identify 100 lowest-priced cars from the year 2014 with CA as the state of registration.
- Help John create and display the details of potential cars.

In [6]:
# create a variable to store the filtered dataframe
low_2014 = car_data[(car_data.year == 2014)&(car_data.state == 'ca')]

low_2014

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
4,2014,BMW,6 Series Gran Coupe,650i,Sedan,automatic,ca,4.3,2641.0,gray,black,financial services remarketing (lease),66000,Thu Dec 18 2014 12:30:00 GMT-0800 (PST)
6,2014,BMW,M5,Base,Sedan,automatic,ca,3.4,14943.0,black,black,the hertz corporation,69000,Wed Dec 17 2014 12:30:00 GMT-0800 (PST)
7,2014,Chevrolet,Cruze,1LT,Sedan,automatic,ca,2.0,28617.0,black,black,enterprise vehicle exchange / tra / rental / t...,11900,Tue Dec 16 2014 13:00:00 GMT-0800 (PST)
8,2014,Audi,A4,2.0T Premium Plus quattro,Sedan,automatic,ca,4.2,9557.0,white,black,audi mission viejo,32100,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
557909,2014,Porsche,Cayenne,GTS,suv,automatic,ca,4.4,10222.0,silver,black,mercedes benz of south bay,79000,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
558202,2014,BMW,X3,xDrive28i,suv,automatic,ca,3.9,32787.0,white,black,high bid trading co inc,27900,Thu Jun 18 2015 05:00:00 GMT-0700 (PDT)
558807,2014,Mercedes-Benz,E-Class,E63 AMG 4MATIC,Sedan,automatic,ca,4.5,17518.0,black,black,the hertz corporation,64000,Tue Jul 07 2015 09:30:00 GMT-0700 (PDT)
558826,2014,Jeep,Grand Cherokee,Limited,SUV,automatic,ca,4.4,9024.0,gray,black,enterprise vehicle exchange / tra / rental / t...,29800,Thu Jul 09 2015 09:00:00 GMT-0700 (PDT)
558836,2014,Ford,F-150,XLT,SuperCrew,automatic,ca,3.4,15008.0,gray,gray,"ford motor credit company,llc pd",29600,Thu May 28 2015 05:30:00 GMT-0700 (PDT)

In [7]:
# use sort_values to sort the data in ascending order
# use .head() to display the first 100 rows

low_2014 = low_2014.sort_values('mp',ascending = True).head(100)
low_2014

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
179673,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,2.4,78882.0,white,black,nissan motor acceptance corporation,6175,Thu Jul 02 2015 08:00:00 GMT-0700 (PDT)
494101,2014,Mitsubishi,Mirage,DE,hatchback,automatic,ca,4.3,24002.0,silver,black,black/white auto sales,7225,Wed Jun 03 2015 05:15:00 GMT-0700 (PDT)
477609,2014,Nissan,Versa,1.6 SV,sedan,automatic,ca,4.1,43948.0,black,black,consumer portfolio services,7425,Wed Jun 03 2015 05:30:00 GMT-0700 (PDT)
444039,2014,Nissan,Versa,1.6 SV,Sedan,manual,ca,3.0,44854.0,black,black,bmw alphera/alphera financial services,7525,Tue Jun 02 2015 05:30:00 GMT-0700 (PDT)
543536,2014,smart,fortwo,passion coupe,hatchback,automatic,ca,4.8,3575.0,â€”,black,mercedes-benz financial services,7900,Thu Jun 18 2015 05:30:00 GMT-0700 (PDT)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120118,2014,Mitsubishi,Lancer,ES,Sedan,automatic,ca,4.1,31861.0,black,black,avis rac/san leandro,9725,Wed Jan 21 2015 04:30:00 GMT-0800 (PST)
408827,2014,Nissan,Versa Note,1.6 SV,Hatchback,manual,ca,4.9,13922.0,gray,black,nissan north america inc.,9725,Tue Apr 21 2015 05:30:00 GMT-0700 (PDT)
197057,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,3.5,11442.0,black,gray,nissan motor acceptance corporation,9750,Tue Jan 27 2015 04:30:00 GMT-0800 (PST)
299017,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,3.8,43774.0,black,black,avis rac/san leandro,9750,Wed Feb 11 2015 04:30:00 GMT-0800 (PST)
197093,2014,Nissan,Versa,1.6 SV,Sedan,automatic,ca,4.6,10529.0,â€”,black,nissan motor acceptance corporation,9750,Tue Jan 27 2015 04:30:00 GMT-0800 (PST)

# Task 3
Thomas is confused by looking at the long list of 100 cars. Help John to display the output in a cross table based on the car manufacturers and prices.

In [8]:
# create a cross tab table with the manufacturers being the columns and the prices being the rows

pd.crosstab(low_2014.make, low_2014.mp, rownames=['make'],colnames=['mp'])

mp,6175,7225,7425,7525,7900,8300,8400,8425,8475,8500,...,9525,9550,9575,9600,9625,9650,9675,9700,9725,9750
make,,,,,,,,,,,,,,,,,,,,,
Chevrolet,0,0,0,0,0,0,1,0,0,1,...,0,2,0,0,2,1,0,0,0,0
FIAT,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ford,0,0,0,0,0,0,0,0,1,0,...,1,2,3,0,0,0,1,0,0,0
Hyundai,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
Mazda,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Mitsubishi,0,1,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,1,0
Nissan,1,0,1,1,0,1,0,1,0,1,...,2,0,0,1,2,1,1,2,1,3
Toyota,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,1,0,0,0
Volkswagen,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
smart,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,1,0,0,1,0,0

# Task 4
Thomas is particularly interested in Chevrolet cars. Eric is willing to offer a 10% discount on Chevrolet cars from the list of 100 cars identified in the previous tasks.
- Display the updated data with only Chevrolet cars with their original prices and discounted prices.

In [9]:
# create a variable to store the chevy cars from the above dataframe 

chevy = low_2014[(low_2014.make == 'Chevrolet')]
chevy

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
518957,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,1.0,38707.0,white,gray,enterprise vehicle exchange / tra / rental / t...,8400,Tue Jun 09 2015 06:00:00 GMT-0700 (PDT)
473427,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,2.3,43370.0,blue,black,enterprise veh exchange/rental,8500,Thu May 28 2015 05:00:00 GMT-0700 (PDT)
80892,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,34016.0,silver,black,enterprise vehicle exchange / tra / rental / t...,8700,Tue Jan 06 2015 13:00:00 GMT-0800 (PST)
44314,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,28077.0,â€”,gray,enterprise vehicle exchange / tra / rental / t...,9050,Tue Dec 23 2014 12:00:00 GMT-0800 (PST)
531030,2014,Chevrolet,Sonic,LT,sedan,automatic,ca,2.5,50629.0,gray,black,the hertz corporation,9150,Thu Jun 11 2015 05:30:00 GMT-0700 (PDT)
258946,2014,Chevrolet,Sonic,LS,Hatchback,manual,ca,1.9,8887.0,silver,gray,crb auto finance,9250,Wed Feb 11 2015 04:30:00 GMT-0800 (PST)
471595,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,2.0,25502.0,silver,black,fox rent a car tra,9325,Wed May 27 2015 08:05:00 GMT-0700 (PDT)
125534,2014,Chevrolet,Sonic,LT,Sedan,automatic,ca,1.0,34780.0,white,â€”,enterprise vehicle exchange / tra / rental / t...,9450,Wed Jan 14 2015 07:05:00 GMT-0800 (PST)
44341,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,20701.0,silver,black,enterprise vehicle exchange / tra / rental / t...,9500,Tue Dec 30 2014 13:00:00 GMT-0800 (PST)
456227,2014,Chevrolet,Sonic,LT,Sedan,automatic,ca,4.4,40464.0,gray,black,the hertz corporation,9500,Thu May 28 2015 05:00:00 GMT-0700 (PDT)
229362,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,4.1,12658.0,silver,black,the hertz corporation,9550,Wed Feb 04 2015 04:30:00 GMT-0800 (PST)
456215,2014,Chevrolet,Sonic,LT,Sedan,automatic,ca,3.4,39647.0,blue,black,the hertz corporation,9550,Thu May 28 2015 05:00:00 GMT-0700 (PDT)
105924,2014,Chevrolet,Sonic,LT,Hatchback,automatic,ca,1.0,40051.0,silver,black,enterprise vehicle exchange / tra / rental / t...,9625,Tue Jan 13 2015 12:00:00 GMT-0800 (PST)
391429,2014,Chevrolet,Spark,LS,Hatchback,automatic,ca,5.0,4459.0,white,gray,buyers auto sales,9625,Wed Mar 04 2015 04:30:00 GMT-0800 (PST)
125525,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,19146.0,white,â€”,enterprise vehicle exchange / tra / rental / t...,9650,Wed Jan 21 2015 07:05:00 GMT-0800 (PST)

In [10]:
# original chevy prices

chevy_prices = chevy['mp']
chevy_prices

518957    8400
473427    8500
80892     8700
44314     9050
531030    9150
258946    9250
471595    9325
125534    9450
44341     9500
456227    9500
229362    9550
456215    9550
105924    9625
391429    9625
125525    9650
Name: mp, dtype: int64

In [11]:
# create a variable to store the discounted chevy prices after the 10% discount

disc_cp = chevy_prices*.9

print('Original Chevy prices BEFORE discount \n',chevy_prices)
print('=======================')
print('Chevy prices AFTER discount \n',disc_cp)

Original Chevy prices BEFORE discount
 518957    8400
473427    8500
80892     8700
44314     9050
531030    9150
258946    9250
471595    9325
125534    9450
44341     9500
456227    9500
229362    9550
456215    9550
105924    9625
391429    9625
125525    9650
Name: mp, dtype: int64
=======================
Chevy prices AFTER discount
 518957    7560.0
473427    7650.0
80892     7830.0
44314     8145.0
531030    8235.0
258946    8325.0
471595    8392.5
125534    8505.0
44341     8550.0
456227    8550.0
229362    8595.0
456215    8595.0
105924    8662.5
391429    8662.5
125525    8685.0
Name: mp, dtype: float64

In [12]:
# import numpy library and use the .insert() function to insert a new column into the chevy dataframe
chevy_prices = disc_cp
import numpy as np
chevy.insert(14,'Discounted Price',chevy_prices)
print(chevy.shape)

(15, 15)

In [13]:
chevy

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date,Discounted Price
518957,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,1.0,38707.0,white,gray,enterprise vehicle exchange / tra / rental / t...,8400,Tue Jun 09 2015 06:00:00 GMT-0700 (PDT),7560.0
473427,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,2.3,43370.0,blue,black,enterprise veh exchange/rental,8500,Thu May 28 2015 05:00:00 GMT-0700 (PDT),7650.0
80892,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,34016.0,silver,black,enterprise vehicle exchange / tra / rental / t...,8700,Tue Jan 06 2015 13:00:00 GMT-0800 (PST),7830.0
44314,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,28077.0,â€”,gray,enterprise vehicle exchange / tra / rental / t...,9050,Tue Dec 23 2014 12:00:00 GMT-0800 (PST),8145.0
531030,2014,Chevrolet,Sonic,LT,sedan,automatic,ca,2.5,50629.0,gray,black,the hertz corporation,9150,Thu Jun 11 2015 05:30:00 GMT-0700 (PDT),8235.0
258946,2014,Chevrolet,Sonic,LS,Hatchback,manual,ca,1.9,8887.0,silver,gray,crb auto finance,9250,Wed Feb 11 2015 04:30:00 GMT-0800 (PST),8325.0
471595,2014,Chevrolet,Spark,1LT,hatchback,automatic,ca,2.0,25502.0,silver,black,fox rent a car tra,9325,Wed May 27 2015 08:05:00 GMT-0700 (PDT),8392.5
125534,2014,Chevrolet,Sonic,LT,Sedan,automatic,ca,1.0,34780.0,white,â€”,enterprise vehicle exchange / tra / rental / t...,9450,Wed Jan 14 2015 07:05:00 GMT-0800 (PST),8505.0
44341,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,20701.0,silver,black,enterprise vehicle exchange / tra / rental / t...,9500,Tue Dec 30 2014 13:00:00 GMT-0800 (PST),8550.0
456227,2014,Chevrolet,Sonic,LT,Sedan,automatic,ca,4.4,40464.0,gray,black,the hertz corporation,9500,Thu May 28 2015 05:00:00 GMT-0700 (PDT),8550.0
229362,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,4.1,12658.0,silver,black,the hertz corporation,9550,Wed Feb 04 2015 04:30:00 GMT-0800 (PST),8595.0
456215,2014,Chevrolet,Sonic,LT,Sedan,automatic,ca,3.4,39647.0,blue,black,the hertz corporation,9550,Thu May 28 2015 05:00:00 GMT-0700 (PDT),8595.0
105924,2014,Chevrolet,Sonic,LT,Hatchback,automatic,ca,1.0,40051.0,silver,black,enterprise vehicle exchange / tra / rental / t...,9625,Tue Jan 13 2015 12:00:00 GMT-0800 (PST),8662.5
391429,2014,Chevrolet,Spark,LS,Hatchback,automatic,ca,5.0,4459.0,white,gray,buyers auto sales,9625,Wed Mar 04 2015 04:30:00 GMT-0800 (PST),8662.5
125525,2014,Chevrolet,Spark,1LT,Hatchback,automatic,ca,2.0,19146.0,white,â€”,enterprise vehicle exchange / tra / rental / t...,9650,Wed Jan 21 2015 07:05:00 GMT-0800 (PST),8685.0

# Task 5
Thomas and several other customers seem to be interested in cars with black or gray colored interiors. 
- John wants to figure out if the cars with interiors in black or gray are priced higher or lower than cars having interiors of other colors.

### Determine the average price of all the 100 lowest-priced cars from the year 2014 based on their interior colors.

In [40]:
# create 3 variables to store the car interior colors
car_black = low_2014[(low_2014.interior =='black')]
car_gray = low_2014[(low_2014.interior =='gray')]
car_other = low_2014[(low_2014.interior !='black')&(low_2014.interior !='gray')]

# create 3 variables to store the average prices based on the car interior colors
black_avg = car_black['mp'].mean()
gray_avg = car_gray['mp'].mean()
other_avg = car_other['mp'].mean()

# display the count of all cars per interior color along with their respective average prices
print('Total number of cars with black interiors: ',car_black.shape[0],"with an average price of: ",black_avg)
print('Total number of cars with gray interiors: ',car_gray.shape[0],"with an average price of: ",gray_avg)
print('Total number of cars with other colored interiors: ',car_other.shape[0],"with a combined average price of: ",other_avg)

Total number of cars with black interiors:  78 with an average price of:  9128.52564102564
Total number of cars with gray interiors:  14 with an average price of:  9314.285714285714
Total number of cars with other colored interiors:  8 with a combined average price of:  9456.25

In [42]:
# FURTHER ANALYSIS
# create a variable to store the group of cars 
# use .groupby(by=)[] to group the cars by interior and order them based on the mp column 
# use the aggfunc .mean()
median_car = low_2014.groupby(by='interior')['mp'].median()

# used .sort_values() to sort the data in descending order
median_car.sort_values(ascending = False)

interior
beige    9600.0
tan      9575.0
gray     9500.0
â€”        9462.5
black    9325.0
red      9150.0
Name: mp, dtype: float64

CONCLUSION
It seems that the black and white cars are the fourth and fifth most expensive out of the 6 interior color options. Their median prices are placed on the lower end of the data, which suggests that they are not priced higher than other car interiors.

# Task 6
Most buyers seem to prefer white and black colored cars. 
- John wants to analyze the color-wise availability of cars for each manufacturer from the years 2010 to 2015.

In [31]:
# create a variable to store the black and white cars
# use the & and | operators

car_years = car_data[(car_data.year >= 2010)&(car_data.year <= 2015)&((car_data.color == 'black')|(car_data.color == 'white'))]

# sorted the data based on the year column in ascending order to show the oldest year first
car_years.sort_values('year',ascending = True)

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
168739,2010,Ford,F-150,Platinum,SuperCrew,automatic,fl,4.0,129753.0,white,brown,remarketing by ge/manheim central florida,16200,Wed Jan 21 2015 01:00:00 GMT-0800 (PST)
168170,2010,GMC,Terrain,SLT-2,SUV,automatic,fl,2.7,46113.0,white,brown,winter haven honda,16200,Tue Jan 20 2015 01:00:00 GMT-0800 (PST)
168165,2010,Chevrolet,Malibu,LT1,Sedan,automatic,oh,1.9,113162.0,black,black,bert wolfe ford inc,5800,Tue Jan 20 2015 01:30:00 GMT-0800 (PST)
168163,2010,Chevrolet,Tahoe,LTZ,SUV,automatic,fl,3.4,90236.0,black,black,zimmerman auto brokers inc,24500,Tue Mar 03 2015 01:30:00 GMT-0800 (PST)
168162,2010,Chevrolet,Impala,LT,Sedan,automatic,ca,4.0,78289.0,white,â€”,ecars,7200,Tue Jan 20 2015 04:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464530,2015,Mercedes-Benz,S-Class,S550 4MATIC,Sedan,automatic,ga,4.4,9181.0,white,beige,atlanta classic cars inc,91000,Wed May 27 2015 03:00:00 GMT-0700 (PDT)
464529,2015,Mazda,Mazda6,i Sport,sedan,automatic,wa,4.4,35511.0,white,beige,avis corporation,14950,Wed May 27 2015 06:00:00 GMT-0700 (PDT)
464499,2015,Ram,1500,SLT,Quad Cab,automatic,sc,4.1,14072.0,black,gray,enterprise veh exchange/rental,22900,Thu May 28 2015 02:15:00 GMT-0700 (PDT)
468112,2015,Audi,A3,1.8 TFSI Premium,sedan,automatic,nj,4.5,4979.0,black,black,audi of huntington,24900,Wed Jun 03 2015 02:30:00 GMT-0700 (PDT)
558835,2015,Nissan,Altima,2.5 S,sedan,automatic,ga,3.8,16658.0,white,black,enterprise vehicle exchange / tra / rental / t...,15100,Thu Jul 09 2015 06:45:00 GMT-0700 (PDT)

In [32]:
# create a variable to group the data
# use .groupby(by=)[] and the [] to group by 2 columns: make and color
# place the make in [] along with agg func .count() as the calculated field
car_years_group = car_years.groupby(by=['make','color'])['make'].count()
car_years_group

make          color
Acura         black     675
              white     353
Aston Martin  white       1
Audi          black     864
              white     703
                       ...
Volkswagen    white    1150
Volvo         black     334
              white     262
smart         black      55
              white      65
Name: make, Length: 88, dtype: int64

# Task 7
Eric, another customer, is interested in a good-condition BMW Sedan manufactured between 2010 and 2015. 
- John wants to display the details of all such cars that have a condition score >=4.5.

In [33]:
# create a variable to store the bmw sedan cars 
car_bmw = car_data[
    (car_data.year >= 2010)&(car_data.year <= 2015)&(car_data.condition >= 4.5)&
    (car_data.make == 'BMW')&(car_data.body == 'Sedan')]
car_bmw

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
2,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,1331.0,gray,black,financial services remarketing (lease),31900,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
37,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,5.0,111.0,black,â€”,financial services remarketing (lease),32200,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
39,2014,BMW,3 Series,328i SULEV,Sedan,automatic,ca,4.5,9027.0,white,black,financial services remarketing (lease),30200,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
59,2014,BMW,M5,Base,Sedan,automatic,ca,4.7,7766.0,gray,black,fratelli investment group,71000,Thu Dec 18 2014 12:00:00 GMT-0800 (PST)
106,2014,BMW,5 Series,535d,Sedan,automatic,ca,4.8,12292.0,white,black,financial services remarketing (lease),46300,Thu Jan 15 2015 04:30:00 GMT-0800 (PST)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461632,2010,BMW,5 Series,550i,Sedan,automatic,tx,4.9,31710.0,black,beige,ge fleet services for itself/servicer,23200,Thu May 28 2015 04:00:00 GMT-0700 (PDT)
461806,2014,BMW,3 Series,328d,Sedan,automatic,ca,4.7,32781.0,white,black,bmw north america/lemon law buy backs,27500,Wed May 27 2015 05:30:00 GMT-0700 (PDT)
478194,2015,BMW,3 Series,320i,Sedan,automatic,ca,4.8,2423.0,white,black,financial services remarketing (lease),30900,Thu Jun 04 2015 05:30:00 GMT-0700 (PDT)
545426,2015,BMW,4 Series Gran Coupe,428i,Sedan,automatic,oh,4.7,4071.0,black,gray,bmw north america raa,41500,Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)
545436,2015,BMW,4 Series Gran Coupe,428i,Sedan,automatic,oh,4.8,4123.0,blue,black,bmw north america raa,46900,Tue Jun 16 2015 07:00:00 GMT-0700 (PDT)

### Help John to figure out the year-wise maximum expected price (mp) of the BMW cars manufactured between the years 2010 and 2015 grouped by each model.

In [34]:
# create a variable to store the grouped data
# use .groupby(by=)[] and [] to group by the year and model
# place the mp in [] along with agg func .mean() as the calculated field
car_bmw_group = car_bmw.groupby(by=['model','year'])['mp'].mean()
car_bmw_group

# sorted the data based on the mp column in ascending order to show the highest priced car first
car_bmw_group.sort_values(ascending = False)

model                year
M6 Gran Coupe        2014    93571.428571
M5                   2014    74428.571429
6 Series Gran Coupe  2014    66142.857143
ActiveHybrid 7       2014    66000.000000
7 Series             2015    65500.000000
M5                   2013    63625.000000
7 Series             2014    53750.000000
6 Series Gran Coupe  2013    49921.428571
5 Series             2015    48558.823529
7 Series             2013    48000.000000
5 Series             2014    45796.116505
4 Series Gran Coupe  2015    44200.000000
M3                   2011    37700.000000
7 Series             2012    37685.714286
3 Series             2015    36407.142857
5 Series             2013    35484.146341
3 Series             2014    32853.472222
ActiveHybrid 7       2012    32100.000000
5 Series             2012    31028.048780
                     2011    27422.500000
7 Series             2010    27150.000000
3 Series             2013    26811.475410
                     2012    24962.244898
7 Series             2011    24433.333333
3 Series             2011    20612.569832
5 Series             2010    19033.333333
3 Series             2010    14600.000000
Name: mp, dtype: float64

# Task 8
John wants to recommend Eric to even consider SUVs from other manufacturers before finalizing the car.
- John needs to list the top 100 SUVs available between the years 2010 and 2015, based on their prices (in descending order) with an odometer reading <= 30000.

In [35]:
car_data.dtypes

year              int64
make             object
model            object
trim             object
body             object
transmission     object
state            object
condition       float64
odometer        float64
color            object
interior         object
seller           object
mp                int64
Arrival_Date     object
dtype: object

In [36]:
# typecasting odometer from object to int

car_data = car_data.astype({'odometer': float})
car_data.dtypes

year              int64
make             object
model            object
trim             object
body             object
transmission     object
state            object
condition       float64
odometer        float64
color            object
interior         object
seller           object
mp                int64
Arrival_Date     object
dtype: object

In [37]:
# create a variable to store the suv cars
car_suv = car_data[
    (car_data.year >= 2010)&(car_data.year <= 2015)&
    (car_data.body == 'suv')&(car_data.odometer <= 30000.0)]
car_suv

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
1558,2015,Jeep,Wrangler,Unlimited Sahara,suv,automatic,tx,5.0,90.0,green,black,mid city mcandrew motors,33700,Wed Jun 03 2015 03:20:00 GMT-0700 (PDT)
2261,2012,Porsche,Cayenne,Base,suv,automatic,fl,5.0,13594.0,green,beige,the collection,43800,Thu Jun 04 2015 02:15:00 GMT-0700 (PDT)
2779,2012,Land Rover,Range Rover Sport,HSE,suv,automatic,fl,4.3,19418.0,green,tan,prestige audi,46000,Wed Jun 17 2015 04:05:00 GMT-0700 (PDT)
3661,2015,Jeep,Wrangler,Unlimited Sahara,suv,automatic,la,4.9,140.0,green,black,southeastern auto brokers inc,33600,Wed Jun 17 2015 03:40:00 GMT-0700 (PDT)
4917,2013,Infiniti,JX,JX35,suv,automatic,ca,4.3,28035.0,green,black,nissan infiniti lt,32300,Thu Jun 04 2015 05:30:00 GMT-0700 (PDT)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
558676,2012,Honda,CR-V,EX-L,suv,automatic,pa,4.1,23144.0,gray,gray,mills transportation service inc,21500,Fri Jun 19 2015 02:00:00 GMT-0700 (PDT)
558725,2013,Lexus,RX 350,Base,suv,automatic,fl,4.0,26882.0,white,gray,arg inc,30100,Fri Jun 19 2015 02:30:00 GMT-0700 (PDT)
558752,2014,GMC,Terrain,SLE-1,suv,automatic,fl,4.4,22267.0,black,black,schumacher auto group inc,19000,Tue Jun 23 2015 02:15:00 GMT-0700 (PDT)
558786,2014,Honda,CR-V,EX-L,suv,automatic,pa,4.8,5252.0,gray,gray,"ahfc/honda lease trust/hvt, inc.",25300,Fri Jul 03 2015 06:00:00 GMT-0700 (PDT)
558816,2013,Mercedes-Benz,G-Class,G63 AMG,suv,automatic,fl,5.0,26799.0,black,black,fields bmw,104000,Tue Jul 07 2015 06:00:00 GMT-0700 (PDT)

In [38]:
# use sort_values to sort the data in ascending order
# use .head() to display the first 100 rows

car_suv.sort_values('mp',ascending = False)
car_suv.head(100)

,year,make,model,trim,body,transmission,state,condition,odometer,color,interior,seller,mp,Arrival_Date
1558,2015,Jeep,Wrangler,Unlimited Sahara,suv,automatic,tx,5.0,90.0,green,black,mid city mcandrew motors,33700,Wed Jun 03 2015 03:20:00 GMT-0700 (PDT)
2261,2012,Porsche,Cayenne,Base,suv,automatic,fl,5.0,13594.0,green,beige,the collection,43800,Thu Jun 04 2015 02:15:00 GMT-0700 (PDT)
2779,2012,Land Rover,Range Rover Sport,HSE,suv,automatic,fl,4.3,19418.0,green,tan,prestige audi,46000,Wed Jun 17 2015 04:05:00 GMT-0700 (PDT)
3661,2015,Jeep,Wrangler,Unlimited Sahara,suv,automatic,la,4.9,140.0,green,black,southeastern auto brokers inc,33600,Wed Jun 17 2015 03:40:00 GMT-0700 (PDT)
4917,2013,Infiniti,JX,JX35,suv,automatic,ca,4.3,28035.0,green,black,nissan infiniti lt,32300,Thu Jun 04 2015 05:30:00 GMT-0700 (PDT)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463751,2011,Nissan,Murano,S,suv,automatic,wa,4.1,23155.0,silver,black,nissan-infiniti lt,16400,Wed May 27 2015 05:30:00 GMT-0700 (PDT)
464108,2014,Dodge,Journey,SXT,suv,automatic,ca,1.0,27987.0,white,black,enterprise vehicle exchange / tra / rental / t...,17750,Tue May 26 2015 06:00:00 GMT-0700 (PDT)
464135,2014,Jeep,Grand Cherokee,Laredo,suv,automatic,fl,4.8,21422.0,gray,black,nimnicht gmc,23100,Tue May 26 2015 02:30:00 GMT-0700 (PDT)
464139,2014,Lexus,LX 570,Base,suv,automatic,tn,3.6,21392.0,black,black,lexus of knoxville,67000,Wed Jul 08 2015 07:30:00 GMT-0700 (PDT)
464144,2014,Nissan,Murano,SL,suv,automatic,wa,4.9,12802.0,silver,black,nissan north america inc.,26600,Wed May 27 2015 05:30:00 GMT-0700 (PDT)