In [1]:
import pandas as pd

How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column)

What is the average age of men?

What is the percentage of people who have a Bachelor's degree?

What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

What percentage of people without advanced education make more than 50K?

What is the minimum number of hours a person works per week?

What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

What country has the highest percentage of people that earn >50K and what is that percentage?

Identify the most popular occupation for those who earn >50K in India.

In [2]:
df = pd.read_csv('adult.data.csv')
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
# count of race
# races = df['race'].value_counts()
#races
race_s = pd.Series(df['race'].value_counts(), index =df['race'].value_counts().index)
print(race_s)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [4]:
# average age of men
avg_men = round(df[df.sex == 'Male']['age'].mean())
print("The average age of males for this dataset is: \n",avg_men)

The average age of males for this dataset is:
 39

In [6]:
# Percentage of people with a bachelors degree
# obtain the total number of people with a bachelors degree
df[df.education == 'Bachelors'].size
df.size
bachelors_percentage = round(((df[df.education == 'Bachelors'].size)/(df.size))*100)
print(f'{bachelors_percentage}% of all members have a Bachelors Degree')

16% of all members have a Bachelors Degree

In [7]:
# What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?
advanced_edu = df[((df.education == 'Bachelors') | (df.education == 'Masters')| 
                   (df.education=='Doctorate')) ]
advanced_edu
greater_sal_advanced = df[((df.salary == '>50K')&(df.education == 'Bachelors') | (df.education == 'Masters')| 
                    (df.education=='Doctorate')) ]
advanced_percentage = round(((greater_sal_advanced.size)/(advanced_edu.size))*100)
print(f'{advanced_percentage}% of members with advanced education make more than 50K')

58% of members with advanced education make more than 50K

In [8]:
# What percentage of people without advanced education make more than 50K?
normal_edu = df[(df.education != 'Bachelors') & (df.education != 'Masters')& 
                   (df.education!='Doctorate')]
normal_edu_advanced= df[(df.salary == '>50K')&(df.education != 'Bachelors') & (df.education != 'Masters')& 
                   (df.education!='Doctorate') ]
normal_edu_advanced
normal_percentage = round(((normal_edu_advanced.size)/(normal_edu.size))*100)
print(f'{normal_percentage}% of members without advanced education make more than 50K')

17% of members without advanced education make more than 50K

In [9]:
# What is the minimum number of hours a person works per week?
min_hours = df['hours-per-week'].min()
min_hours

1

In [11]:
# What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

min_hours_people = df[df['hours-per-week'] == 1]
min_hours_people.size
greater_sal_min_hours_people = df[(df['hours-per-week'] == 1)&(df.salary == '>50K')]
greater_sal_min_hours_people

min_people_percentage = round(((greater_sal_min_hours_people.size)/(min_hours_people.size))*100)
print(f'{min_people_percentage}% of members who work the minimum number of hours per week make more than 50K')

10% of members who work the minimum number of hours per week make more than 50K

In [15]:
# What country has the highest percentage of people that earn >50K and what is that percentage?
# Filter the DataFrame to include only rows where salary is '>50K'
df_50K = df[df.salary == '>50K']

# Group by 'native-country' and count the number of rows for each country
# COUNTS SHOW HOW MANY TIMES EACH COUNTRY APPEARED IN THE df_50k DATA FRAME
country_counts = df_50K['native-country'].value_counts()

# Divide by the total number of rows in the original DataFrame
# df.shape[0] REPRESENTS THE TOTAL NUMBER OF ROWS IN THE ORIGINAL DF (df) 
country_percentages = (country_counts / df.shape[0]) * 100
country_percentages
# Find the country with the highest percentage
# .idxmax() FUNCTION REPRESENTS THE ID (country) WITH THE HIGHEST PERCENTAGE
# .max() FUNCTION REPRESENTS THE HIGHEST PERCENTAGE
highest_country = country_percentages.idxmax()
highest_percentage = round(country_percentages.max())

print(f"The country with the highest percentage of people earning >50K is {highest_country} with {highest_percentage}% of its population earning more than 50K.")

The country with the highest percentage of people earning >50K is United-States with 22% of its population earning more than 50K.

In [13]:
# Identify the most popular occupation for those who earn >50K in India.
Indiadf = df[(df.salary == '>50K')&(df['native-country'] == 'India')]
Indiadf
occupation_counts = Indiadf['occupation'].value_counts()
occupation_counts
most_pop = occupation_counts.idxmax()
most_pop_count = occupation_counts.max()
print('The most popular occupation for those who earn >50K in India is: ',most_pop)

The most popular occupation for those who earn >50K in India is:  Prof-specialty